<div class="sidebar_title">Bing News <br />Extractor</div>
<ul class="sidebar_navigation">
    <li>
        <a href="#">
            <i class="fa fa-search" aria-hidden="true"></i> Search
        </a>
    </li>
    <li>
        <a href="#" class="results_button">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> Results
        </a>
    </li>
    <li>
        <a href="#" class="bookmarks_button">
            <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarks
        </a>
    </li>
    <li>
        <a href="#" class="bin_button">
            <i class="fa fa-trash" aria-hidden="true"></i> Trash Bin
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-wrench" aria-hidden="true"></i> Settings
        </a>
    </li>
</ul>