<div class="sidebar_title">Bing News <br />Extractor</div>
<ul class="sidebar_navigation">
    <li>
        <a href="#">
            <i class="fa fa-search" aria-hidden="true"></i> Search
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> Results
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-wrench" aria-hidden="true"></i> Settings
        </a>
    </li>
</ul>