:root{
    /* General Settings */
    --body_background_color:rgb(52, 52, 52);
    --font_family:'Open Sans', sans-serif;
    --article_block_background_color:rgb(77, 75, 75);

    /* Side Bar Settings */
    --sidebar_background_color:#1a1a1aec;
    --sidebar_text_color:#ffffffce;
    --sidebar_title_color:#c5383d;
    /* --sidebar_option_animation_color:#ee3a4054; */
    --sidebar_option_animation_color:rgb(52, 52, 52);
    --sidebar_width:220px;
    --sidebar_title_font_size:20px;
    --sidebar_navigation_font_size:16px;
}
.content_container {
    padding: 50px 0 0 var(--sidebar_width);
}

body{
    background-color: var(--body_background_color);
}
/* Sidebar Styling */
.sidebar_container {
    position: fixed;
    width: var(--sidebar_width);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--sidebar_background_color);
    color: var(--sidebar_text_color);
}

.sidebar_title {
    padding: 20px 0;
    font-size: var(--sidebar_title_font_size);
    background-color: var(--sidebar_title_color);
    text-align: center;
}
.sidebar_navigation a{
    font-size: var(--sidebar_navigation_font_size);
}

.sidebar_navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}
.sidebar_navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}
.sidebar_navigation li a {
    padding: 20px 15px 20px 35px;
    display: block;
    color: var(--sidebar_text_color);
    text-decoration: none;
}

.sidebar_navigation li .fa {
    margin-right: 10px;
    width: 20px;
}
.sidebar_navigation li a:active,
.sidebar_navigation li a:hover,
.sidebar_navigation li a:focus {
    text-decoration: none;
    outline: none;
}


.sidebar_navigation li::before {
    background-color: var(--sidebar_option_animation_color);
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.15s ease-in;
    transition: width 0.15s ease-in;
    width: 5px;
    z-index: -1;
}
.sidebar_navigation li:hover::before {
    width: 100%;
}


/* Content Block */
/* .container div {
    padding: 20px;
    margin-bottom: 50px;
    margin: 50px 100px;
    color: black;
    background-color: grey;
}

.container div:hover{
    background-color: lightgrey;
}

.noEffect {
    background-color: #777;
}

.reveal {
    opacity: 0;
    background-color: #9b003b;
} */


/*  */
.inner_container {
    padding: 0 30px 50px 30px;
}
.article_block{
    /* background-color: hsla(0, 0%, 41%, 0.075); */
    background-color:var(--article_block_background_color);
    border-radius: 13px;
    /* box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4); */
    box-shadow: 1px 1px 4px 0px grey;
    margin-bottom: 25px;
    padding: 20px 30px 20px 30px;
}
/* Action Block Styling */
.action_block {
    display: flex;
    justify-content: flex-end;
}
.save_button, .close_button{
    /* color: var(--sidebar_title_color); */
    color: var(--sidebar_text_color);
    padding: 0 15px;
    text-align: center;
}
.save_button:hover,
.close_button:hover{
    color: var(--sidebar_option_animation_color);
}


/* Title Styling*/
.title_block{
    padding: 10px 0;
    color: var(--sidebar_text_color);
    font-size: 24px;
    font-weight: 700;
}
.text_ellipsis{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* 控制显示的行数为2行 */
    -webkit-line-clamp: 3;
    /* 根据实际文本行高进行调整 */
    line-height: 1.5;
    /* 最大高度为 line-height * 行数，这里为了简单计算直接用了3，根据实际line-height调整 */
    max-height: 3;
    margin: 0;
    font-family: var(--font_family);
}
.description{
    -webkit-line-clamp: 2;
}

/* Description Styling */
.description_block{
    font-size: 16px;
    font-weight: 400;
    color: var(--sidebar_text_color);
}
/* Good color: rgba(255, 255, 255, 0.788) */


/* Time & More */
.time_more_block{
    padding-top: 13px;
}
.time_more_block p {
    margin: 0;
    color: var(--sidebar_text_color);
}
.time_more_block button{
    color: var(--article_block_background_color);
    font-family: var(--font_family);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
}
.time_more_block button:hover{
    background-color: var(--sidebar_option_animation_color);
    color: var(--sidebar_text_color);
    font-weight: 500;
}
.dates{
    display: flex;
    align-items: center;
}
.read_more{
    display: flex;
    justify-content: right;
}


/* Page Buttons Styling */
.page-link,.page-link:focus{
    background-color: var(--sidebar_text_color);
    border-color: transparent;
    color: var(--article_block_background_color);
    font-weight: 600;
}
.page-link:hover,.page-item.active .page-link{
    background-color: var(--article_block_background_color);
    color: var(--sidebar_text_color);
    border-color: transparent;
}
*:focus {
    outline: none !important;
    box-shadow: none !important;
}

.buttons_container li a {
    cursor: pointer;
}
